
<footer class="py-4 mt-auto bg-white shadow md:py-8">
    <div class="mx-auto sm:flex sm:items-center sm:justify-between mainCont">
        <a href="https://flowbite.com/" class="flex items-center mb-4 sm:mb-0">
            <img src="../../assets/logo.svg" class="h-8 mr-3" alt="Flowbite Logo">
        </a>
        <ul class="flex flex-wrap items-center mb-6 text-sm text-gray-500 sm:mb-0 ">
            <li>
                <a routerLink="/home" class="mr-4 hover:underline md:mr-6" routerLinkActive="text-secondary">Home</a>
            </li>
            <li>
                <a routerLink="/feed" class="mr-4 hover:underline md:mr-6" routerLinkActive="text-secondary">Feed</a>
            </li>
            <li>
                <a routerLink="/" class="mr-4 hover:underline md:mr-6">Privacy Policy</a>
            </li>
            <li>
                <a routerLink="/about" class="hover:underline" routerLinkActive="text-secondary">About</a>
            </li>
        </ul>
    </div>
    <hr class="my-6 border-gray-200 sm:mx-auto lg:my-8">
    <span class="block text-sm text-gray-500 sm:text-center ">© 2022 <a href="https://flowbite.com/" class="hover:underline">Flowbite™</a>. All Rights Reserved.
    </span>
</footer>
