<div class="min-h-[calc(100vh-72px)] mainCont flex flex-col justify-center" id="homeLanding">
    <h1 class="m-0 text-7xl" style="text-shadow: 2px 1px white;">Social Media</h1>
    <h2 class="m-0 text-5xl" style="text-shadow: 2px 1px white;">Without the adds</h2>
</div>
<div class="flex flex-col items-end justify-center bg-gray-400 mainCont gap-36 py-28" id="adLanding">
    <p class="w-1/2 text-3xl text-right"style="text-shadow: 1px 1px white;">We got bored of constantly seeing ads and sponsored posts all over our Social Feed.</p>
    <p class="w-1/2 text-3xl text-right"style="text-shadow: 1px 1px white;">So what we've done is made out own!</p>
    <p class="w-1/3 text-3xl text-right"style="text-shadow: 1px 1px white;">No need to pay any subscription or mess around with settings.</p>
</div>
<div class="flex flex-col items-start justify-center gap-32 bg-white mainCont py-80" id="logoLanding">
    <p class="flex flex-col w-1/2 text-3xl text-left"><span class="text-5xl">Social media</span> the right way...</p>
    <a class="prim-button" routerLink="/signup">Sign up now</a>
</div>